
.about__wrapper {
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
}

.about__header {
    align-items: center;
    text-align: center;
    width: 100%;
}

.about__title {
    padding: 104px 0 53px 0;
}

.about__title h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42.26px;
    color: #000000;
}

.divider {
    display: block;
    width: 170px;
    margin: 0 auto;
	border: 0.5 px solid #EC7979;
}

.about__subtitle {
    padding: 39px 0 40px 0;
}

.about__subtitle h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.about__cards {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}

.about__card {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card__icon {
    margin: 0 auto;
    padding: 40px 0 39px 0;
}

.card__icon-border {
    width: 92px;
    height: 92px;
    display:flex;
    border: 1px solid red;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.card__title {
    padding: 33.5px 0;
}

.card__title h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
}

.card__text {
    margin-top: 8px;
    padding: 0 10px 0 10px;
}

.card__text h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

@media screen and (max-width: 1024px) {

    .about__wrapper {
        padding-bottom: 60px;
    }

    .about__title {
        padding: 96px 0 46px 0;
    }

    .about__title h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .divider {
        width: 142px;
    }

    .about__subtitle {
        padding: 31px 0 32px 0;
    }

    .about__subtitle h5 {
        font-size: 14px;
        line-height: 16px;
    }
    
    .about__cards {
        padding: 0 0 0 0;
    }

    .about__card {
        width: 318px;
    }

    .card__icon {
        margin: 0 auto;
        padding: 33.72px 0;
    }

    .card__icon-border-lightbulb  {
        width: 56.46px;
        height: 56.46px;
    }

    .card__icon-border-keyboard {
        width: 57.07px;
        height: 39.78;
    }

    .card__icon-border-lightning {
        width: 38.05px;
        height: 57.07px;
    }

    .card__icon-border {
        width: 79.55px;
        height: 79.55px;
    }

    .card__title {
        padding: 28.5px 0;
    }

    .card__title h4 {
        font-size: 18px;
        line-height: 25px;
    }

    .card__text {
        margin-top: 9px;
    }

    .card__text h5 {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 786px) {
    .about__wrapper {
        padding-bottom: 60px;
    }

    .about__title {
        padding: 54.5px 0;
    }

    .about__title h2 {
        font-size: 18px;
        line-height: 21px;
    }
    
    .divider {
        width: 134px;
    }

    .about__subtitle {
        padding: 25px 0 40px 0;
    }
    
    .about__subtitle h5 {
        font-size: 13px;
        line-height: 15px;
    }

    .about__cards {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 0;
    }
    
    .about__card {
        width: 100%;
        padding-top: 10px;
    }

    .card__title {
        padding: 29px 0;
    }
    
    .card__title h4 {
        font-size: 18px;
        line-height: 25px;
    }
    
    .card__text {
        margin-top: 9px;
        padding: 0 0 0 0;
    }

    .card__text h5 {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 320px) {
    .card__text h5 {
        font-size: 14px;
        line-height: 16px;
    }
}