
.banner-bottom {
	background: rgba(0, 0, 0, 0.5) url(/axit-project/images/banner_2.png);
	background-size: cover;
	background-blend-mode: darken;
}

.banner-bottom__wrapper {
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.banner-bottom__title {
	padding: 104px 0 53px 0;
}

.banner-bottom__title h2 {
	font-weight: 400;
	font-size: 36px;
	line-height: 42.26px;
	color: #FFFFFF;
}

.banner-bottom__divider {
    display: block;
    width: 170px;
	border: 1px solid #FFFFFF;
}

.banner-bottom__description {
	padding: 40px 0 39px 0;
}

.banner-bottom__description h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}

.banner-bottom__btn {
	padding: 33px 0 30px 0;
	margin: 0 400px;
}

.banner-bottom__btn button {
	font-family: 'Open Sans';
	min-width: 370px;
    min-height: 58px;
	background-color: rgba(28,28,28,0);
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.banner-bottom__btn button:hover {
	background-color: rgba(208, 203, 203, 0.5);
	font-size: 19px;
}