@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500;600;700;900&display=swap');

body {
	font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

section {
    padding: 0 15px;     
}

.divider {
    display: block;
    width: 170px;
	border: 1px solid #EC7979;
}

@media screen and (max-width: 1024px) {
    section {
        padding: 0 0;     
    }

    .container {
        max-width: 992px;
        margin: 0 16px;
    }

    .divider {
        width: 142px;
    }
}

@media scree and (max-width: 786px) {
    .divider {
        width: 134px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 288px;
        margin: 0 16px;
    }

    .divider {
        width: 134px;
    }
}