
.header {
    width:  100%;
    height: 75px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header__container {
    max-width: 1280px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: right;
    justify-content: space-around;
    max-width: 570px;
    margin-right: 55px;
}

.header__nav a {
    width: 114px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__nav a:hover {
    color:#ce5656;
}

@media screen and (max-width: 1024px) {

    .header__container {
        max-width: 888.72px;
        margin: 0 20px 0 115.28px;
    }

    .header__nav {
        max-width: 566px;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {

    .header {
        height: 56px;
    }

    .header__container {
        max-width: 288px;
        margin: 0 16px;
    }
    
    .header__logo {
        max-width: 130px;
        max-height: 56px;
    }

    .header__nav a {
        display: none;
    }
}