
.reviews__wrapper {
    padding-bottom: 50px;
}

.reviews__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.reviews__title {
    padding: 104px 0 53px 0;
}

.reviews__title h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42.26px;
    color: #000000;
    text-transform: uppercase;
}

.divider {
    display: block;
    width: 170px;
    margin: 0 auto;
    border: 1px solid #EC7979;
}

.reviews__description {
    padding: 39px 0 40px 0;
}

.reviews__description h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.reviews__cards {
    display: flex;
    justify-content: space-between;
    padding: 43px 0 14px 0;
}

.reviews__card {
    width: 370px;
    display: flex;
    flex-direction: column;
}

.reviews__card:nth-child(2) {
    margin: 0 30px;
}

.card__message {
    position: relative;
}

.card__message::after {
    content: '';
    width: 0px;
	height: 0px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid  #E2E2E2;
    position: absolute;
    left: 70px;
}

.card__opinion {
    height: 180px;
    padding: 38px 20px 37px 20px;
    text-align: center;
    background: #E2E2E2;
    border-radius: 10px;
    border: none;
}
    
.card__opinion h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.card__user {
    height: 156px;
    padding-top: 66px;
    display: flex;
    flex-direction: row;
}

.card__user-avatar {
    display: flex;
    padding: 0 30px 20px 0;
}

.card__user-avatar img {
    min-width: 100%;
    min-height: 100%;
}

.card__user-info {
    text-align: left;    
}

.card__user-name {
    padding: 10px 0;
}

.card__user-name h3 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
}

.card__user-profession {
    width: 100%;
    height: 21px;
    padding-top: 15px;
}

.card__user-profession h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.reviews__button-container {
    display: none;
}

@media screen and (max-width: 1024px) {
    .reviews__title {
        padding: 96px 0 46px 0;;
    }

    .reviews__title h2 {
        font-size: 24px;
        line-height: 28px;
    }
    
    .divider {
        width: 142px;
    }

    .reviews__description {
        padding: 32px 0 16px 0;
    }
    
    .reviews__description h5 {
        font-size: 18px;
        line-height: 21px;
    }

    .reviews__cards {
        padding: 16px 0 9px 0;
    }

    .reviews__card {
        width: 317px;
        height: 309px;
    }

    .reviews__card:nth-child(2) {
        margin: 0 30px;
    }

    .card__opinion {
        height: 180px;
        padding: 50px 20px;
    }

    .card__opinion h5 {
        font-size: 14px;
        line-height: 16px;
    }

    .card__user {
        height: 129px;
        padding-top: 66px;
        display: flex;
        flex-direction: row;
    }

    .card__user-avatar {
        padding: 0 22.54px 0 0;
    }
    
    .card__user-avatar img {
        width: 63px;
        height: 63px;
    }

    .card__user-name {
        padding: 5.5px 0;
    }

    .card__user-name h3 {
        font-size: 18px;
        line-height: 25px;
    }

    .card__user-profession {
        max-width: 230.45px;
        padding-top: 9px;
    }

    .card__user-profession h5 {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 786px) {

    .reviews__wrapper {
        padding-bottom: 0;
    }

    .reviews__title {
        max-width: 288px;
        padding: 32px 0;
    }

    .reviews__title h2 {
        font-size: 22px;
        line-height: 28px;
    }

    .divider {
        width: 134px;
    }

    .reviews__description {
        padding: 24px 0;
    }
    
    .reviews__description h5 {
        font-size: 14px;
        line-height: 16px;
    }

    .reviews__cards {
        justify-content: center;
        padding: 0 0 0 0;
    }

    .reviews__card {
        max-width: 100%;
        height: 316px;
    }

    .reviews__card:nth-child(2) {
        margin: 0 0;
    }

    .reviews__card:first-child {
        display: none;
    }

    .reviews__card:last-child {
        display: none;
    }

    .card__user {
        height: 136px;
        padding-top: 62px;    
    }

    .card__user-avatar img {
        width: 100%;
        width: 100%;
    }

    .reviews__button-container {    
        padding: 32px 0;
        margin: 0 auto;
        max-width: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .reviews__button-container .radio {
        display: none;
    }

    .reviews__button-container .radio + label::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid #86878B;
        border-radius: 10px;
        cursor: pointer;
    }

    .reviews__button-container .radio:checked + label::before {
        background: #86878B;
    }
}

@media screen and (max-width: 320px) {

    .reviews__wrapper {
        padding-bottom: 0;
    }

    .reviews__title {
        max-width: 288px;
        padding: 32px 0;
    }

    .reviews__title h2 {
        font-size: 22px;
        line-height: 28px;
    }

    .divider {
        width: 134px;
    }

    .reviews__description {
        padding: 24px 0;
    }
    
    .reviews__description h5 {
        font-size: 14px;
        line-height: 16px;
    }

    .reviews__cards {
        padding: 0 0 0 0;
    }

    .reviews__card {
        max-width: 100%;
        height: 316px;
    }

    .reviews__card:first-child {
        display: none;
    }

    .reviews__card:last-child {
        display: none;
    }

    .card__user {
        height: 136px;
        padding-top: 62px;    
    }

    .card__opinion {
        padding: 50px 20px;
    }

    .card__user-avatar img {
        width: 57px;
        height: 57px;
    }

    .reviews__button-container {    
        padding: 32px 0;
        margin: 0 auto;
        max-width: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .reviews__button-container .radio {
        display: none;
    }

    .reviews__button-container .radio + label::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid #86878B;
        border-radius: 10px;
        cursor: pointer;
    }

    .reviews__button-container .radio:checked + label::before {
        background: #86878B;
    }
}