
.social {
    height: 140px;
    background-color: #F8EFEF;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.social__text {
    text-align: start;
}

.social__title {
    max-width: 470px;
    padding: 13.5px 0;
}

.social__title h2 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #333333;
}

.social__description {  
    max-width: 470px;
    padding: 18px 0;
}

.social__description h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.social-logos {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 26px 0 15px 0;
}

.social-logos a {
    max-width: 70px;
    max-height: 70px;
    margin: 0 15px;
}

.social-logos a:first-child {
    margin-left: 0;
}

.social-logos a:last-child {
    margin-right: 0;
}

.social-logos a:hover {
    box-shadow: 0px 1px 2px 0px rgba(236, 121, 121, 0.7),
                1px 2px 4px 0px rgba(236, 121, 121, 0.7),
                2px 4px 8px 0px rgba(236, 121, 121, 0.7),
                2px 4px 16px 0px rgba(236, 121, 121, 0.7);
} 


@media screen and (max-width: 1024px) {
    .social {
        height: 105px;
    }

    .social__title {
        max-width: 402px;
        padding: 10px 0;
        margin-top: 2px;
    }

    .social__title h2 {
        font-size: 18px;
        line-height: 25px;
    }

    .social__description {  
        max-width: 402px;
        padding: 13px 0;
    }

    .social__description h5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 16.44px;
        color: #86878B;
    }

    .social-logos a {
        max-width: 64px;
        max-height: 64px;
        margin: 0 8.5px;
    }
}

@media screen and (max-width: 786px) {
    .social {
        height: 280px;
    }

    .social__wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .social__text {
        text-align: center;
    }

    .social__title {
        max-width: 287px;
        padding: 10px 0;
        margin-top: 31px;
    }

    .social__title h2 {
        font-size: 18px;
        line-height: 25px;
    }

    .social__description {  
        max-width: 271px;
        padding: 13px 0 16px 0;
    }

    .social__description h5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 16.44px;
        color: #86878B;
    }

    .social-logos {
        padding: 16px 0 44px 0;
    }
}

@media screen and (max-width: 320px) {

    .social-logos a {
        min-width: 26px;
        min-height: 26px;
        margin: 0 8.5px;
    }
}